In [1]:
# Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\84sat\OneDrive\Desktop\CAREER FOUNDRY\4 Python Practice\1 Instacart Basket Analysis'

In [4]:
path

'C:\\Users\\84sat\\OneDrive\\Desktop\\CAREER FOUNDRY\\4 Python Practice\\1 Instacart Basket Analysis'

In [5]:
# Importing orders_products_combined pickle file

In [6]:
df_ordrs_prods_combined = pd.read_pickle(os.path.join(path , '02 Data' , 'Prepared Data' , 'orders_products_combined.pkl'))

In [7]:
# Checking Shape of imported pickle file

In [8]:
df_ordrs_prods_combined.shape

(32434489, 12)

In [20]:
# Drop _merge coloumns from  Dataframe

df_ordrs_prods_combined = df_ordrs_prods_combined.drop(columns =['_merge'])

df_ordrs_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,user_id,first_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,1,True,196,1,0
1,2539329,1,1,2,8,NaN,1,True,14084,2,0
2,2539329,1,1,2,8,NaN,1,True,12427,3,0
3,2539329,1,1,2,8,NaN,1,True,26088,4,0
4,2539329,1,1,2,8,NaN,1,True,26405,5,0

In [21]:
# importing Products_checked csv file from original Data folder

In [22]:
df_prods = pd.read_csv(os.path.join(path , '02 Data' , 'Prepared Data' , 'products_checked_csv') , index_col = False)

In [23]:
df_prods.shape

(49672, 6)

In [24]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [27]:
# Merging df_prods and df_prods_ords_combined Dataframes

In [28]:
# df_merged = df_prods.merge(df_ordrs_prods_combined, on = 'product_id' , indicator = True)

df_merged = df_prods.merge(df_ordrs_prods_combined, on='product_id', indicator='merge_indicator')

In [29]:
df_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,user_id,first_order,add_to_cart_order,reordered,merge_indicator
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,138,False,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,138,False,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,709,False,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,764,True,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,764,False,11,1,both

In [31]:
df_merged['merge_indicator'].value_counts()

both          32404859
left_only            0
right_only           0
Name: merge_indicator, dtype: int64

In [ ]:
# Exporting merged file to prepared data folder

In [32]:
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))